.page-loading {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.4s 0.2s ease-in-out;
    transition: all 0.4s 0.2s ease-in-out;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    z-index: 9999;
}
.dark-mode .page-loading {
    background-color: #131022;
}
.page-loading.active {
    opacity: 1;
    visibility: visible;
}
.page-loading-inner {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    text-align: center;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
    opacity: 0;
}
.page-loading.active > .page-loading-inner {
    opacity: 1;
}
.page-loading-inner > span {
    display: block;
    font-size: 1rem;
    font-weight: normal;
    color: #9397ad;
}
.dark-mode .page-loading-inner > span {
    color: #fff;
    opacity: 0.6;
}
.page-spinner {
    display: inline-block;
    width: 2.75rem;
    height: 2.75rem;
    margin-bottom: 0.75rem;
    vertical-align: text-bottom;
    border: 0.15em solid #b4b7c9;
    border-right-color: transparent;
    border-radius: 50%;
    -webkit-animation: spinner 0.75s linear infinite;
    animation: spinner 0.75s linear infinite;
}
.dark-mode .page-spinner {
    border-color: rgba(255, 255, 255, 0.4);
    border-right-color: transparent;
}
@-webkit-keyframes spinner {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spinner {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
::-webkit-scrollbar {
    width: 7px;
    height: 10px;
}
@media (max-width: 768px) {
    ::-webkit-scrollbar {
        height: 0px;
    }
}
::-webkit-scrollbar-button {
    background: transparent;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(181, 181, 181, 0.4);
}

.back-image {
    width: 100%;
    height: 350px;
    background-size: cover;
    background-position: center center;
}

/* card-price */
.card-price {
    padding-bottom: 2rem;
}
.dollar-line {
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-price h2 {
    text-align: center;
    padding-top: 4rem;
    font-size: 40px;
}
.card-price h3 {
    text-align: center;
    padding-top: 4rem;
    font-size: 30px;
}
.card-price li {
    margin-bottom: 12px;
    font-size: 18px;
    list-style-type: none;
}
/*.card-price li:before {*/
/*  content: "\f00c"; !* FontAwesome Unicode *!*/
/*  font-family: FontAwesome;*/
/*  display: inline-block;*/
/*  width: 1.3em;*/
/*  margin-left: 0.3em;*/
/*  margin-right: 0.5rem;*/
/*}*/
.card-price sup {
    font-size: 18px;
    margin: 5%;
}
.card-price span {
    font-size: 42px;
}

@media (max-width: 768px) {
    .card-price {
        margin-top: 2rem;
    }
    .card-price h2 {
        font-size: 24px;
    }
    .card-price h3 {
        font-size: 20px;
    }
}

.card-price:hover,
.card-price:hover h2,
.card-price:hover h3 {
    background-color: rgb(92, 167, 199);
    color: #131022 !important;
}

/* btn-conner */
.btn-conner {
    position: fixed;
    display: none;
    align-items: center;
    justify-content: center;
    right: 1.25rem;
    bottom: -4.125rem;
    width: 2.75rem;
    height: 2.75rem;
    transition: bottom 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55), opacity 0.3s, background-color 0.25s ease-in-out;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.25);
    color: #fff;
    text-decoration: none;
    opacity: 0;
    z-index: 1030;
}
.btn-conner > .btn-conner-icon {
    font-size: 2rem;
    font-weight: bold;
}
.btn-conner .btn-conner-tooltip {
    position: absolute;
    top: 50%;
    right: 100%;
    transform: translateY(-50%);
    transition: opacity 0.25s ease-in-out, visibility 0.25s ease-in-out;
    visibility: hidden;
    opacity: 0;
}
.btn-conner:hover {
    background-color: rgba(19, 16, 34, 0.5);
    color: #fff;
}
.btn-conner:hover .btn-conner-tooltip {
    visibility: visible;
    opacity: 1;
}
.btn-conner.show {
    display: flex;
    bottom: 1.25rem;
    opacity: 1;
}
@media (max-width: 499.98px) {
    .btn-conner {
        width: 2.2rem;
        height: 2.2rem;
        right: 1rem;
    }
    .btn-conner.show {
        bottom: 1rem;
    }
}

/* kv2 */
.kv2 {
    height: 100vh;
    width: 50%;
    margin: 0 auto;
    transition: transform 0.3s;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -50px;
    border: 0;
}
.kv2-text h1 {
    text-align: center;
    margin-top: 7%;
    word-break: break-word;
    white-space: normal;
    font-size: 18rem;
}
.kv2-text h2 {
    text-align: center;
    font-style: oblique;
    word-break: break-word;
    white-space: normal;
    font-size: 1.8rem;
}
.kv-2-word {
    text-align: center;
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.kv2:hover {
    transform: scale(1.03);
}

@media (max-width: 1580px) {
    .kv2-text h1 {
        font-size: 10rem;
    }
    .kv2-text h2 {
        font-size: 1.5rem;
    }
    .kv2-text h3 {
        font-size: 1.2rem;
    }
}
@media (max-width: 768px) {
    .kv2 {
        height: 100vh - 40px;
        width: 100%;
        transition: none;
        background-size: cover;
    }
    .kv2-text h1 {
        font-size: 3.75rem;
    }
    .kv2-text h2 {
        font-size: 1rem;
        padding-top: 2rem;
    }
    .kv2:hover {
        transform: none;
    }
}
h1 {
    word-break: break-word;
    white-space: normal;
}
p {
    word-break: break-word;
    white-space: normal;
}
h2 {
    word-break: break-word;
    white-space: normal;
}

.context {
    width: 100%;
    position: absolute;
    top: 50vh;
}

.context h1 {
    text-align: center;
    color: #fff;
    font-size: 50px;
}
